<!DOCTYPE html>
<html>
<head>
<title>
Alex Williamson
</title>
<link href="aw.css" rel="stylesheet" media="screen">
<link rel="shortcut icon" href="img/favicon.png">

<meta name="viewport" content="width=800,maximum-scale=1,user-scalable=yes" />
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">

<%block name="base_head">
</%block>

</head>
<body class="background">

<div class="main-content">
	<div class="site-header">
		<h1>Alex Williamson . Composer</h1>
	</div>
	<div class="inner-content">
	
<%block name="inner_content">
</%block>
	
	</div>
	<ul class="bottom-nav">
		<li>
			<a href="/index">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<a href="/music">Music</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
	</ul>
</div>

<div id="footer"> 
<p>&copy; 2013 Alex Williamson</p>
</div> 

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<%block name="body_end">
</%block>

</body>
</html>

